<mat-grid-list cols="4" rowHeight="90vh">
  <mat-grid-tile colspan="1">
    <div class="problem-list">
      <div class="problem-list__item" (click)="selectProblem(problem)" *ngFor="let problem of problems">
        <app-problem-view size="80px" [dimension]="problem.size" [grid]="parseGrid(problem)" squareColor="red"></app-problem-view>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile class="selected-problem" colspan="2">
      <app-problem-view
        *ngIf="selectedProblem"
        size="300px"
        [dimension]="selectedProblem?.size || 3"
        [grid]="grid"
        (squareClicked)="onSquareClicked($event)">
      </app-problem-view>

  </mat-grid-tile>
</mat-grid-list>

