mat-grid-tile {
  border-radius: 3px;

  &.solution {
    background-color: black;
  }
}

.grid-list {
  &__container {
    background-color: lightgray;
    padding: 10px;
  }

  &__solution {
    cursor: pointer;
  }
}
